.idea
target
logs
hello-avro/target/
hello-crawler4j/target/
hello-joda/target/
hello-jsoup/target/
hello-junit/target/
hello-kafka/target/
hello-log4j2/target/
hello-lucene/target/
hello-netty/target/
hello-redis/target/
hello-solrj/target/
xml2json2xml/target/